{% extends 'base.html' %}

{% block content %}

<h1>Shopping Cart</h1>

{% for item in items %}

<div class="cart-item">

    <h3>{{ item.product.name }}</h3>

    <p>₦{{ item.product.get_final_price }}</p>

    <p>
        Quantity:
        {{ item.quantity }}
    </p>

    <p>
        Subtotal:
        ₦{{ item.subtotal }}
    </p>

    <a href="{% url 'increase_quantity' item.id %}">
        +
    </a>

    <a href="{% url 'decrease_quantity' item.id %}">
        -
    </a>

    <a href="{% url 'remove_from_cart' item.id %}">
        Remove
    </a>

    <a href="{% url 'checkout' %}" class="btn btn-large">
        Proceed to Checkout
    </a>

</div>

<hr>

{% empty %}

<p>Your cart is empty.</p>

{% endfor %}

<h2>Total: ₦{{ total }}</h2>

{% endblock %}